<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black mt-3" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
  
                  <form class="mx-1 mx-md-4" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  
                    <div class="mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <label for="form3Example1c" class="form-label">User Name</label>
                      <input type="text" id="form3Example1c" class="form-control" />
                    </div>

                    <div class="mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <label for="form3Example2" class="form-label">First Name</label>
                      <input type="text" id="form3Example2" class="form-control" />
                    </div>

                    <div class="mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <label for="form3Example5" class="form-label">Last Name</label>
                      <input type="text" id="form3Example5" class="form-control" />
                    </div>
  
                    <div class="mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <label for="form3Example3c" class="form-label">Your Email</label>
                      <input type="email" id="form3Example3c" class="form-control" />
                    </div>

                    <div class="mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <label for="form3Example8" class="form-label">Mobile</label>
                      <input type="email" id="form3Example8" class="form-control" />
                    </div>

                    <div class="mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <label for="form3Address" class="form-label">Address</label>
                      <input type="email" id="form3Address" class="form-control" />
                    </div>
  
                    <div class="mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <label for="form3Example4c" class="form-label">Password</label>
                      <input type="password" id="form3Example4c" class="form-control" />
                    </div>
  
                    <div class="mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <label for="form3Example4cd" class="form-label">Repeat your password</label>
                      <input type="password" id="form3Example4cd" class="form-control" />
                    </div>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg">Register</button>
                    </div>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://i.imgur.com/3YOIk1B.png"
                    class="img-fluid" alt="Shopping Image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  