<div class="d-flex align-items-center justify-content-between navbar" style="padding-top: 0.5%;">
  <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none" style="padding-left: 3%;">
    <img src="assets/images/logo2.png" style="max-height: 75px;" alt="logo.png" class="logo" routerLink="/">
  </a>

  <ul class="nav d-flex justify-content-center flex-wrap" style="padding-left: 3%;">
    <li class="nav-item"><a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link px-2">Home</a></li>
    <li class="nav-item"><a routerLink="/shop" routerLinkActive="active" class="nav-link px-2">Shop</a></li>
    <!-- <li class="nav-item"><a href="#" class="nav-link px-2">Contact</a></li>
    <li class="nav-item"><a routerLink="/test-error" routerLinkActive="active" class="nav-link px-2">Errors</a></li> -->
    <li class="nav-item"><a routerLink="/about" routerLinkActive="active" class="nav-link px-2">About</a></li>
    <li class="nav-item"><a routerLink="/basket" routerLinkActive="active" class="nav-link px-2">Cart</a></li>
  </ul>

  <div class="text-end" style="padding-right: 3%;">
    <ng-container *ngIf="(currentUser$ | async) === null">
      <a routerLink="/account/login" class="btn btn-outline-dark me-2">Login</a>
      <a routerLink="/account/register" class="btn btn-greenUILight">Sign up</a>
    </ng-container>

    <ng-container *ngIf="currentUser$ | async">
      <div class="dropdown ml-3 mr-5" dropdown>
        <a class="dropdown-toggle" style="cursor: pointer;" dropdownToggle>
          <strong>Welcome {{(currentUser$ | async).userName}}</strong> 
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
          <a routerLink="/basket" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-shopping-cart" style="margin-right: 0.75rem;"></i> View Basket
          </a>
          <a routerLink="/orders" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-history" style="margin-right: 0.75rem;"></i> View Orders
          </a>
          <div class="dropdown-divider"></div>
          <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-sign-out" style="margin-right: 0.75rem;"></i> Logout
          </a>
        </div>
      </div>
      
    </ng-container>
    
  </div>
</div>
