<div class="container">
    <div class="row">
        <section class="col-3">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary sidebar-scrolling" style="width: 280px;">
                <a href="/"
                    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <fa-icon [icon]="faBarsStaggered" style="margin-right: 1em;" ></fa-icon>
                    <span class="fs-4">Filters</span>
                </a>
                <hr>
                <h5 class="text-greenUIDark ml-3">Sort</h5>
                <select class="form-select my-3">
                    <option>Alphabetical</option>
                    <option>Price: Low to High</option>
                    <option>Price: High to Low</option>
                </select>
                <hr>
                <h5 class="text-greenUIDark ml-3">Categories</h5>
                <ul class="nav nav-pills flex-column mb-auto my-3">
                    <li class="nav-item">
                        <a href="#" class="nav-link active" aria-current="page">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#home"></use>
                            </svg>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link link-body-emphasis">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#speedometer2"></use>
                            </svg>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link link-body-emphasis">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#table"></use>
                            </svg>
                            Orders
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link link-body-emphasis">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#grid"></use>
                            </svg>
                            Products
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link link-body-emphasis">
                            <svg class="bi pe-none me-2" width="16" height="16">
                                <use xlink:href="#people-circle"></use>
                            </svg>
                            Customers
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="form-check form-switch my-3">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Discount-Only Products</label>
                </div>
            </div>
        </section>
        <section class="col-9">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col-md-4" *ngFor="let item of products">
                    <app-product-item [product]="item"></app-product-item>
                </div>
            </div>
        </section>
    </div>
</div>